<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Automation Suite" thread-count="3" parallel="tests">
    <test name="LogIn" parallel="tests" thread-count="2">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="SearchTest"/>
        </classes>
    </test>
    <test name="Second" parallel="tests">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="AddInToCartTest"/>
        </classes>
    </test>
    <test name="Third" parallel="tests">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="FormInputTest"/>
        </classes>
    </test>
</suite>